:root{
  --white:#FFFFFF;
  --black:#1E1A28;
  --darkblue:#212E53;
  --oceanblue:#447A9B;
  --darkgrey:#5F5B5B;
  --grey:#ABABAB;
  --lightgrey:#EBEBEB;
  --nude:#FFDFCB;
  --lightpink:#EBACA2;
  --darkpink:#CE6A6B;
  --shadow:box-shadow: 0px 4px 10px rgba(78, 78, 78, 0.2);
}

*, ::after, ::before{
  box-sizing:border-box;
}

html{
  font-size: 10px;
}

.button{
  background: var(--darkpink);
  color: var(--white);
  padding:0.8rem 1.6rem;
  text-decoration: uppercase;
  border-radius:5px;
}

img{
  max-width: 100%;
}

.container{
  display:grid;
  grid-gap:32px;
}
